[submodule "bundle/PHP-Indenting-for-VIm"]
	path = bundle/PHP-Indenting-for-VIm
	url = git@github.com:2072/PHP-Indenting-for-VIm.git
[submodule "bundle/vim-syntax-for-PHP"]
	path = bundle/vim-syntax-for-PHP
	url = git@github.com:2072/vim-syntax-for-PHP.git
[submodule "bundle/vim-hack"]
	path = bundle/vim-hack
	url = git@github.com:hhvm/vim-hack.git
